@reference "../index.css";

.main-layout-root {
  @apply flex min-h-screen bg-[#E1E5E8];
}

.main-layout-sidebar {
  @apply w-64 bg-[#2f3b45] text-gray-200 flex flex-col rounded-r-2xl;
}

.main-layout-logo {
  @apply px-5 py-5 flex;
}

.main-layout-nav {
  @apply px-2 flex flex-col gap-2;
}

.main-layout-nav-link {
  @apply flex items-center gap-3 px-3 py-2 rounded-lg transition-colors text-lg text-gray-300 hover:bg-gray-700 hover:text-white;
}

.main-layout-nav-link-active {
  @apply bg-[#5E7280] text-white;
}

.main-layout-logout-btn {
  @apply text-left flex items-center gap-3 px-3 py-2 rounded-lg transition-colors text-lg text-gray-300 hover:bg-gray-700 hover:text-white disabled:opacity-60;
}

.main-layout-main {
  @apply flex-1 px-5 py-2 bg-[#E1E5E8];
}
